header{
    text-align: center;
    font-size: 25px;
    font-weight: 500; 
}

form{
    border: 2px solid;
    width: 50%;
    justify-content: space-between;
    margin: 10px 40px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

input{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid blue;
}

#empid:hover{
    background-color: skyblue;
}

.Registration{
    justify-content: space-between;
}

.radio{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.depart{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 50px;
}

#train{
    height: 80px;
    display: flex;
    flex-direction: column;
}

#btn{
    background-color: green;
    color: white;
    border-radius: 0px 50px;
}