$val : 10px;

@mixin myTheme($color){
    color: white;
    width: $val * 14;
    height: $val * 4.5;
    border-radius: $val * 0.7;
    margin-left: $val;
    margin-top: $val * 7;
    font-size: $val * 1.8;
    background-color: $color;
    border: 1px solid $color;
}