.theme-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid blueviolet;
  width: 600px;
  height: 200px;
  background-color: khaki;
  font-size: 20px;
  color: white;
}

.theme-1 .left {
  width: 400px;
  height: 135px;
  background-color: darkcyan;
  margin-left: 7px;
  margin-top: 7px;
  padding: 25px 25px;
}

.theme-1 .right {
  width: 200px;
  height: 135px;
  background-color: cadetblue;
  margin: 7px;
  padding: 25px 25px;
}

.theme-1 .button {
  color: white;
  width: 140px;
  height: 45px;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: 70px;
  font-size: 18px;
  background-color: darksalmon;
  border: 1px solid darksalmon;
}

.theme-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid blueviolet;
  width: 600px;
  height: 200px;
  background-color: pink;
  font-size: 20px;
  color: white;
}

.theme-2 .left {
  width: 400px;
  height: 135px;
  background-color: palevioletred;
  margin-left: 7px;
  margin-top: 7px;
  padding: 25px 25px;
}

.theme-2 .right {
  width: 200px;
  height: 135px;
  background-color: lightcoral;
  margin: 7px;
  padding: 25px 25px;
}

.theme-2 .button {
  color: white;
  width: 140px;
  height: 45px;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: 70px;
  font-size: 18px;
  background-color: #654321;
  border: 1px solid #654321;
}
